<!DOCTYPE html>
<html lang="en" id="app">
  <head>

  </head>
  <body>
    <div id="no_settings_file" style="display:none;">Missing Settings File</div>
    ${ require('layout/layout.html') }
  </body>
</html>